:root {
    /* Accent color shades */
    --md-accent-fg-color: #FEC925;
    --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
     
  }
  

img[src*="#shadow"] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


img[src*="#center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:75%;
    height:auto;
}



:root {
    --md-admonition-icon--pied-piper: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M0 3.75C0 2.784.784 2 1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25v-8.5zm1.75-.25a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25H1.75zM3.5 6.25a.75.75 0 0 1 .75-.75h7a.75.75 0 0 1 0 1.5h-7a.75.75 0 0 1-.75-.75zm.75 2.25a.75.75 0 0 0 0 1.5h4a.75.75 0 0 0 0-1.5h-4z"/></svg>')
}
  .md-typeset .admonition.pied-piper,
  .md-typeset details.pied-piper {
    border-color: rgb(254, 201, 37);
  }
  .md-typeset .pied-piper > .admonition-title,
  .md-typeset .pied-piper > summary {
    background-color: rgba(254, 201, 37, 0.1);
    border-color: rgb(254, 201, 37);
  }
  .md-typeset .pied-piper > .admonition-title::before,
  .md-typeset .pied-piper > summary::before {
    background-color: rgb(254, 201, 37);
    -webkit-mask-image: var(--md-admonition-icon--pied-piper);
            mask-image: var(--md-admonition-icon--pied-piper);
  }


  :root {
    --md-admonition-icon--settings: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M5.433 2.304A4.494 4.494 0 0 0 3.5 6c0 1.598.832 3.002 2.09 3.802.518.328.929.923.902 1.64v.008l-.164 3.337a.75.75 0 1 1-1.498-.073l.163-3.33c.002-.085-.05-.216-.207-.316A5.996 5.996 0 0 1 2 6a5.994 5.994 0 0 1 2.567-4.92 1.482 1.482 0 0 1 1.673-.04c.462.296.76.827.76 1.423v2.82c0 .082.041.16.11.206l.75.51a.25.25 0 0 0 .28 0l.75-.51A.25.25 0 0 0 9 5.282V2.463c0-.596.298-1.127.76-1.423a1.482 1.482 0 0 1 1.673.04A5.994 5.994 0 0 1 14 6a5.996 5.996 0 0 1-2.786 5.068c-.157.1-.209.23-.207.315l.163 3.33a.75.75 0 1 1-1.498.074l-.164-3.345c-.027-.717.384-1.312.902-1.64A4.496 4.496 0 0 0 12.5 6a4.494 4.494 0 0 0-1.933-3.696c-.024.017-.067.067-.067.16v2.818a1.75 1.75 0 0 1-.767 1.448l-.75.51a1.75 1.75 0 0 1-1.966 0l-.75-.51A1.75 1.75 0 0 1 5.5 5.282V2.463c0-.092-.043-.142-.067-.159zm.01-.005z"/></svg>')
}
  .md-typeset .admonition.settings,
  .md-typeset details.settings {
    border-color: rgb(254, 201, 37);
  }
  .md-typeset .settings > .admonition-title,
  .md-typeset .settings > summary {
    background-color: rgba(254, 201, 37, 0.1);
    border-color: rgb(254, 201, 37);
  }
  .md-typeset .settings > .admonition-title::before,
  .md-typeset .settings > summary::before {
    background-color: rgb(254, 201, 37);
    -webkit-mask-image: var(--md-admonition-icon--settings);
            mask-image: var(--md-admonition-icon--settings);
  }

.md-sidebar {
  width: 16rem;
}

@media screen and (max-width: 76.1875em) {
  .md-sidebar--primary {
    left: -16rem !important; 
  }
  [data-md-toggle=drawer]:checked~.md-container .md-sidebar--primary {
    transform: translateX(16rem);
  }
}

.home-page-title {
  color: unset !important;
  font-weight: bold !important;
  margin: 0 0 0.75em !important;
}

.suite-title {
  margin: 20px 0 8px 0 !important;
  font-weight: bold !important;
}

.home-suite-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.home-app-link {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
  margin: 20px;
}

.home-app-link > img {
  height: 200px;
  object-fit: cover;
}

.home-app-link > span {
  margin-top: 8px;
}
